#!monit

check process elasticsearch with pidfile "/var/run/elasticsearch.pid"
    start program = "/etc/init.d/elasticsearch start"
    stop program = "/etc/init.d/elasticsearch stop"
    if failed port 9200 protocol HTTP
        request /cancer-terms
        with timeout 10 seconds
        then restart
