.filter-suggest {

  label {
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
  }

  .filter-select-highlight {
    font-weight: bold;
  }

  margin-bottom: 10px;

  max-width: 340px;

}
