.filter-suggest {

  label {
    font-size: 14px;
    padding-bottom: 4px;
  }

  input {
    margin-top: 4px;
  }

  .filter-select-highlight {
    font-weight: bold;
  }

  margin-bottom: 10px;

  max-width: 320px;

}
