@import "base/_all.scss";
@import "components/_all.scss";
@import "modules/_all.scss";
@import "pages/_all.scss";

html, body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
}

a {
  color: $primary-color;
}

a:visited {
  color: darken($primary-color, 17%);
}

.layout {
  margin: 0 auto;
}
