.filter-age {
  margin-bottom: 10px;

  label {
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
  }

  input {
    border: none;
    height: 36px;
    width: 40px;
    padding: 0 15px;
    font-size: 0.9em;
  }
}
