.filter-suggest {
  margin-bottom: 10px;
  max-width: 340px;

  label {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
  }

  .filter-select-highlight {
    font-weight: bold;
  }
}
