.navigation {
  background-color: $primary-color;
  height: 80px;
  margin: 0;
  padding: 20px 0;

  .nci-logo {
    float: left;
    width: 320px;

    @include media($small-screen) {
      width: 400px;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  .nci-home-link {
    float: right;

    a {
      color: darken($primary-color, 25%);
      font-weight: bold;
      text-decoration: none;

      &:visited {
        color: darken($primary-color, 25%);
      }
    }
  }
}
