.navigation {
  background-color: $primary-color;
  height: 80px;
  margin: 0;

  .nci-logo {
    padding: 20px 40px;

    img {
      height: 40px;
      width: auto;
    }
  }

  .nci-home-link {
    height: 40px;
    line-height: 40px;
    padding: 20px 40px;
    position: absolute;
    right: 0px;
    top: 0px;

    a {
      color: darken($primary-color, 25%);
      font-weight: bold;
      text-decoration: none;

      &:visited {
        color: darken($primary-color, 25%);
      }
    }
  }
}
