.clinical-trials-page {

  .clinical-trial-result {
    @extend %card;
    margin: 20px 0;
    width: 640px;

    h3 {
      margin-top: 0;
    }
  }

  .clinical-trials {
    left: 40px;
    position: absolute;
    width: 680px;
  }

  .search-status {
    padding: 0px 40px;
    .search-results {
      font-size: 24px;
      font-weight: 300;
    }
  }

  .status-item {

  }

  .remove-status {
    cursor: pointer;
  }

}

.filter-page {
  background-color: $primary-color;
  color: #fff;

  .toggle-show-filter {
    cursor: pointer;
    font-weight: 700;
    padding: 20px 0 40px 40px;
  }

  .toggle-hide-filter {
    background-color: darken($text-color, 20%);
    cursor: pointer;
    margin-top: -70px;
    padding: 10px 15px;
    position: absolute;
    right: 40px;
  }

  .filter-category-headers {
    display: flex;
    margin-bottom: 20px;

    .filter-category-preheaders {
      border-bottom: 1px solid darken($primary-color, 12%);
      padding: 10px;
      width: 20px;
    }

    .filter-category-header {
      background-color: darken($primary-color, 10%);
      border: 1px solid darken($primary-color, 12%);
      border-collapse: collapse;
      cursor: pointer;
      margin:-1px 0 0 -1px;
      padding: 10px 15px;

      &.selected {
        background-color: darken($primary-color, 0%);
        border-bottom: 1px solid $primary-color;
        cursor: default;
      }
    }

    .filter-category-postheaders {
      border-bottom: 1px solid darken($primary-color, 12%);
      flex: 1;
      padding: 10px;
      width: 20px;
    }
  }

  .filters {
    padding: 0px 20px 20px 20px;
    display: flex;

    .filters-column {
      flex: 1 1 auto;
      padding: 0 20px;
    }
  }
}
