.index-page {

  .card {
    @extend %card;

    h1 {
      margin-top: 0;
    }
  }
}

.index-about {
  margin-top: 2em;

  h1 {
    font-weight: normal;
    font-size: 1.8em;
    margin-bottom: 0.25em;

    @include media($small-screen) {
      font-size: 2em;
    }
  }

  p {
    color: lighten($base-font-color, 5);
  }

  .main-content {
    @include media($small-screen) {
      @include span-columns(8);
    }
  }
}

.index-search {
  background-color: $primary-color;
  padding: 2em 0 4em;

  h1 {
    color: $white;
    font-weight: 300;
    margin-bottom: 0.3em;
  }

  .search-container {
    @include media($small-screen) {
      @include span-columns(8);
    }
  }
}

.omni-suggest {
  @include clearfix;
  width: 100%;

  .omni-suggest-highlight {
    // color: #ee0000;
    font-weight: bold;
  }

  .react-autosuggest__container {
    position: relative;
  }

  .react-autosuggest__input {
    border: none;
    float: left;
    font-size: 1.1em;
    height: 50px;
    padding: 10px 20px;
    width: 85%;

    @include media($small-screen) {
      width: 90%;
    }

    &:focus {
      outline: none;
    }
  }

  .react-autosuggest__suggestions-container {
    background-color: $white;
    border: 1px solid $white;
    box-shadow: 4px 4px 4px rgba($black, 0.1);
    font-family: $base-font-family;
    font-weight: 300;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    width: 85%;
    z-index: 2;

    @include media($small-screen) {
      width: 90%;
    }
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    overflow: hidden;
    padding: 10px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .react-autosuggest__suggestion--focused {
    background-color: $light-gray;
  }

  .search-icon {
    background-color: darken($primary-color, 20);
    float: left;
    height: 50px;
    text-align: center;
    width: 15%;

    @include media($small-screen) {
      width: 10%;
    }

    input {
      box-sizing: border-box;
      height: 50px;
      padding: 13px;
      width: 100%;
    }
  }

  .suggestion-type {
    color: darken($primary-color, 10);
    font-weight: normal;
  }
}
