.index-page {

  .card {
    @extend %card;

    h1 {
      margin-top: 0;
    }
  }

  .index-about {
    font-size: 16px;
    max-width: 690px;
    padding: 40px;

    h1 {
      color: $text-color;
      font-weight: 100px;
      font-size: 24px;
    }
  }

  .index-search {
    background-color: $primary-color;
    padding: 20px 40px 10px 40px;
  }

  .search-prompt-container {
    color: #fff;
    font-size: 28px;
    font-weight: 200;
    margin-bottom: 20px;
  }
}

.omni-suggest {

  .omni-suggest-highlight {
    // color: #ee0000;
    font-weight: bold;
  }

  .react-autosuggest__container {
    position: relative;
  }

  .react-autosuggest__input {
    border: none;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    padding: 10px 20px;
    width: 640px;

    &:focus {
      outline: none;
    }
  }

  .react-autosuggest__container--open .react-autosuggest__input {

  }

  .react-autosuggest__suggestions-container {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 300;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    width: 640px;
    z-index: 2;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    overflow: hidden;
    padding: 10px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .react-autosuggest__suggestion--focused {
    background-color: #eee;
  }

  .search-icon {
    background-color: $tertiary-color;
    height: 50px;
    left: 640px;
    position: relative;
    top: -50px;
    width: 50px;

    input {
      height: 50px;
      padding: 10px;
      width: 50px;
    }
  }

  .suggestion-type {
    color: #009999;
  }
}
