@import '../variables.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
}

a {
  color: $primary-color;
}

a:visited {
  color: darken($primary-color, 17%);
}

.layout {
  margin: 0 auto;
}

.card {
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: $text-color;
}

.index-page {

  .index-search {
    background-color: $primary-color;
    padding: 20px 40px 10px 40px;
  }

  .search-prompt-container {
    font-weight: 200;
    margin-bottom: 20px;
    font-size: 28px;
    color: #fff;
  }

  .search-container {

  }

  .index-about {
    h1 {
      color: $text-color;
      font-weight: 100px;
      font-size: 24px;
    }
    font-size: 16px;
    padding: 40px;
    max-width: 690px;
  }

}

// fade transitions...

.fade-transition-enter {
  opacity: 0.01;
}

.fade-transition-enter.fade-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-transition-leave {
  visibility: hidden;
  opacity: 1;
}

.fade-transition-leave.fade-transition-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

.fade-transition-appear {
  opacity: 0.01;
}

.fade-transition-appear.fade-transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
