%card {
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: $text-color;
}
