@import '../variables.scss';

.omni-suggest {

  .omni-suggest-highlight {
    // color: #ee0000;
    font-weight: bold;
  }

  .react-autosuggest__container {
    position: relative;
  }

  .react-autosuggest__input {
    // width: 240px;
    width: 600px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: none;
    &:focus {
      outline: none;
    }
  }

  .react-autosuggest__container--open .react-autosuggest__input {

  }

  .react-autosuggest__suggestions-container {
    position: absolute;
    top: 60px;
    width: 640px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #fff;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    z-index: 2;
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .react-autosuggest__suggestion {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    padding: 10px 20px;
  }

  .react-autosuggest__suggestion--focused {
    background-color: #eee;
  }

  .search-icon {
    width: 50px;
    height: 50px;
    background-color: $tertiary-color;
    position: relative;
    left: 640px;
    top: -50px;
    input {
      padding: 10px;
      width: 30px;
      height: 30px;
    }
  }

  .suggestion-type {
    color: #009999;
  }

}
