/*
 * Scaffolding
 * -------------------------------------------------------------------------- */

$body-bg: #f7f7f7;
$text-color: #333;

$primary-color: #2b7bba;
$primary-color-faded: #002f6e;
$secondary-color: #bb0e3d;

/*
 * Typography
 * -------------------------------------------------------------------------- */

$font-family-base: 'Roboto', 'Helvetica', sans-serif;

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
